#title{
  color:purple;
}

#pic{
  display:block;
  margin-left:200px;
}
#pic1 {
  display:block;
  margin-left:500px;
}
#link1{
  font-size:30px;
}
#link2{
  font-size:30px;
}
#pic2{
  display:block;
  margin-left:450px;
}
#link3{
  font-size: 30;
}
#p1{
  font-size: 40;
color: purple;
}
#p2{
font-size: 50;
color: purple
}
.jumbotron {
  background-color: lightblue;
}
#h2{
  color: purple;
  font-size: 30;
}
